<% if @current_user %>

  <form action="/photos/<%= photo.id %>/votes" method="POST">
    <input type="hidden" name="choice" value="funny">

  <% if can_vote?(photo, "funny") %>

    <button class ="ghost-btn">
      <span class="vote vote-icon">

  <% else %>

    <input type="hidden" name="_method" value="DELETE">
    <button class ="ghost-btn">
      <span class="voted vote-icon">

  <% end %>

        &#128518;
      </span>
    </button>
    
    <span class="meme-font voted">
      <%= photo.votes.where(context: "funny").count %>
    </span>
  </form>

  <form action="/photos/<%= photo.id %>/votes" method="POST">
    <input type ="hidden" name="choice" value ="shameful">

  <% if can_vote?(photo, "shameful") %>

    <button class ="ghost-btn">
    <span class="vote vote-icon">    

  <% else %>

    <input type="hidden" name="_method" value="DELETE">
    <button class ="ghost-btn">
    <span class="voted vote-icon">

  <% end %>

    &#128563;
    </span>
    </button>
    <span class="meme-font">
      <%= photo.votes.where(context: "shameful").count %>
    </span>
  </form>

<% else %>
  
  <p>
    <span class="vote-icon">&#128518;</span>
    <span class="meme-font">
      <%= photo.votes.where(context: "funny").count %>
    </span>
  </p>
  <p>
    <span class="vote-icon">&#128563;</span>
    <span class="meme-font">
      <%= photo.votes.where(context: "shameful").count %>
    </span> 
  </p>

<% end %>



    