<% if @current_user %>

<div class ="well"> 
  <img src="<%= @photo.file %>" class = "img-responsive center-block"/>

  <h3 class ="pull-right">

  <% if can_vote?(photo, "funny") %>
                  <form action="/photos/<%= photo.id %>/votes" method="POST">
                    <input type="hidden" name="choice" value="funny">
                    <label><%= @photo.votes.where(context: "funny").count %> </label>
                    <button class ="ghost-btn">&#128518;</button>
                  </form>
                  <% else %>
                  <%= @photo.votes.where(context: "funny").count %> &#128518;
                  <br />
                <% end %>
                
<% if can_vote?(photo, "shameful") %>
                  <form action="/photos/<%= photo.id %>/votes" method="POST">
                    <input type ="hidden" name="choice" value ="shameful">
                    <label><%= @photo.votes.where(context: "shameful").count %></label>
                    <button class ="ghost-btn">&#128530;</button>
                  </form>
                  <% else %>
                  <%= @photo.votes.where(context: "shameful").count %> &#128530;
                <% end %>
                </h3>
<h3 class ="text-center"><%= @photo.caption %></h3>
  
</div>

<% else %>

<div class ="well"> 
  <img src="<%= @photo.file %>" class = "img-responsive center-block"/>

  <h3 class ="pull-right">
    <%= @photo.votes.where(context: "funny").count %> &#128518;
    <br />
    <%= @photo.votes.where(context: "shameful").count %> &#128530;
  <h3 class ="text-center"><%= @photo.caption %></h3>
  
</div>

<% end %>