<h1>All Pics</h1>

<h3><a href="/photos/new">♠♠♠ Upload a photo♠♠♠<p></p>
</a></h3>
<% unless @photos.nil? %>
<% @photos.each do |photo| %>
  <p></p>
  <h5><div class="photo">
  <a href="/photos/<%= photo.id %>">
  <%= photo.url %>  </a>
  <%= photo.caption %>
  <div>
    <a href="/photos/<%= photo.id %>/votes/funny"><input type="button" value="funny"></a>
    <a href="/photos/<%= photo.id %>/votes/shameful"><input type="button" value="shameful"></a>
  </div>
<% end %>
<% end %>