<div class ="well"> 
  <img src="<%= @photo.url %>" class = "img-responsive center-block"/>
  <h3 class ="pull-right"><%= @photo.votes.where(context: "funny").count %> &#128518;
  <br /><%= @photo.votes.where(context: "shameful").count %> &#128530;</h3>
  <h3 class ="text-center"><%= @photo.caption %></h3>
</div>


<div class ="white-space-on-top">
  more photos by user: <%= User.find(id = @photo.user_id).username %>
</div>

<!-- do this with a loop -->

<div class="photowall"> 
  <div id="masonry-grid">
    <div class="grid-sizer">

  <% @photoroll = Photo.where(@photo.user_id = @photo.user_id) %>
  <% @photoroll.each do |photo| %>

      <a href = "/photos/<%= photo.id %>">
        <div class="grid-item xs">
          <img src="<%= photo.url %>" />
       </div>
     </a>

<% end %>

<!-- this is just the demo -->

      <a href = "/photo/#{photo.id}">
        <div class="grid-item xs">
          <img src="http://c2.staticflickr.com/6/5687/23075017092_0f7fb2328b_b.jpg" />
       </div>
     </a>

      <a href = "/photo/#{photo.id}">
        <div class="grid-item xs">
          <img src="http://c2.staticflickr.com/6/5687/23075017092_0f7fb2328b_b.jpg" />
       </div>
     </a>

      <a href = "/photo/#{photo.id}">
        <div class="grid-item xs">
          <img src="http://i.imgur.com/aboaFoB.jpg" />
       </div>
     </a>

      <a href = "/photo/#{photo.id}">
        <div class="grid-item xs">
          <img src="http://c2.staticflickr.com/6/5687/23075017092_0f7fb2328b_b.jpg" />
       </div>
     </a>

      <a href = "/photo/#{photo.id}">
        <div class="grid-item xs">
          <img src="http://cdnpix.com/show/imgs/62b11fb03d925e4c8c2323441e8ebd1f.jpg" />
       </div>
     </a>

      <a href = "/photo/#{photo.id}">
        <div class="grid-item xs">
          <img src="http://i.telegraph.co.uk/multimedia/archive/02830/cat_2830677b.jpg" />
       </div>
     </a>

      <a href = "/photo/#{photo.id}">
        <div class="grid-item xs">
          <img src="http://localhost:3000/uploads/pics/animals_widewallpaper_cat_74664.jpg" />
       </div>
     </a>

      <a href = "/photo/#{photo.id}">
        <div class="grid-item xs">
          <img src="http://i.telegraph.co.uk/multimedia/archive/02830/cat_2830677b.jpg" />
       </div>
     </a>

      <a href = "/photo/#{photo.id}">
        <div class="grid-item xs">
          <img src="http://theheightsanimalhospital.com/clients/15389/images/playful-kitten-6683.jpg" />
       </div>
     </a>

</div> 
</div>
</div>