<% if @current_user %>

  <div>
    <ul class="nav nav-pills">
      <%= erb :'navbar/_signedin', locals: { current_user: @current_user } %>
      <%= erb :'/navbar/_add_photo' %> 
      <%= erb :'navbar/_main' %>
      <%= erb :'navbar/_sort_by' %>
      <%= erb :'navbar/_random' %>
    </ul>
  </div>

<% else %> 

  <div>
    <ul class="nav nav-pills">
      <%= erb :'navbar/_login' %>
      <%= erb :'navbar/_signup' %>
      <%= erb :'navbar/_main' %>
      <%= erb :'navbar/_sort_by' %>
      <%= erb :'navbar/_random' %>
    </ul>
  </div>

<% end %>